@model TrainerClientADOnet.Models.DTO.TrainingDTO
@using TrainerClientADOnet.Utilities;
@using TrainerClientADOnet.Controllers;

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@{
    Uri uri = new Uri(HttpContext.Current.Request.Url.AbsoluteUri);
    DateTime StartTime = DateTime.Parse(HttpUtility.ParseQueryString(uri.Query).Get("startTime").Trim());
    int programId = int.Parse(HttpUtility.ParseQueryString(uri.Query).Get("programId"));
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Training</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ProgramId)


    <div class="form-group">
        @Html.LabelFor(model => model.TrainingTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.TrainingTypeId, Utility.returnSelectListOfTrainingTypes(), " Select training type ", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TrainingTypeId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StartTime, new
            {
                htmlAttributes = new
                {
                    @class = "form-control",
                    @readonly = true@*, disabled = "disabled"*@}
})
            @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Duration (hours)", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("Duration", "1", htmlAttributes: new { @type = "number", @class = "form-control", @min = "1", @max = Utility.GetMaxTrainingDurationTimeCreate(StartTime, programId) })
            @Html.ValidationMessage("Duration", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Recurring (weeks in same time)", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("Recurring", "1", htmlAttributes: new { @type = "number", @class = "form-control", @min = "1", @max = Utility.GetMaxTrainingReccuringTimeCreate(StartTime, programId) })
            @Html.ValidationMessage("Recurring", "", new { @class = "text-danger" })
        </div>
    </div>

    @*Validator.Range(min, max [, error message])*@
    @*
        <div class="form-group">
            @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
            </div>
        </div>
    *@
    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}
@{
    //uri
    
    var programIdFromUri = HttpUtility.ParseQueryString(uri.Query).Get("programId").Trim();
    DateTime monday = ViewBag.SelectedMonday;
    var sunday = monday.AddDays(6);

}
<div>
    @Html.ActionLink("Back to List", "TrainingPlanForProgram", new { programId = programIdFromUri, monday=monday, sunday=sunday }, null)

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
